DEBUG=True
SECRET_KEY=your-secret-key-here
DATABASE_NAME=gertifoods
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password-here
DATABASE_HOST=localhost
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
