# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env

# Node
node_modules/
npm-debug.log*

# Build
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
